extends ../layout

block content
    .page-header
        h3 Create Sport
        ul
            li= sport.name
            form.form-horizontal(id='signup-form1', method='POST' action='/update')
                input(type='hidden', name='_csrf', value=_csrf)
                input(type='hidden', name='id', value=sport.id)
                input(type='text', name='name', value=sport.name ,id='name')
                input(type='text', name='type', value=sport.type ,id='type')
                .form-group
                    .col-sm-offset-3.col-sm-7
                        button.btn.btn-success(type='Edit')
                            i.fa.fa-user-plus
                            | Edit sport